/* Write your CSS code here */

.button {
  background-color: #0967d2;
  color: #ffffff;
  margin: 12px;
  border-radius: 9px;
  padding: 14px;
  cursor: pointer;
}
.heading-home {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
}
.home-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.para-home{
  color: #64748b;
  font-size: 20px;
}